<!DOCTYPE HTML>
{% extends 'basics.html' %}

{% load static %}

{% block title %} Signup page{% endblock %}

{% block js %} {% endblock %}
{% block body %}

<link rel="stylesheet" href="{% static 'css/style3.css' %}" >

<section class="register-form page-section-ptb">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
         <div class="section-title">
           <span>Welcome to </span>
           <h2>the Cardealer online</h2>
           <div class="separator"></div>
         </div>
      </div>
    </div>
      <div class="col-sm-12">
        <div class="about-wrap">
            <h2>Footwear the leading eCommerce Store around the Globe</h2>
            <p>Welcome to the E-commerce Platform for Shoes, your ultimate destination for trendy and
                stylish footwear! Founded in 20XX, we are passionate about offering the latest shoe
                trends to our customers at affordable prices.
            </p>
            <p>At the E-commerce Platform for Shoes, we believe that shoes are more than just an
                accessory; they are a reflection of your personality and style. Whether you're looking
                for comfortable sneakers, elegant heels, or durable boots, we've got you covered.
            </p>
            <p>Our team of experienced buyers scours the globe to bring you the finest selection of
                shoes from top brands and designers. From classic designs to cutting-edge styles,
                we have something for everyone.</p>
            <p>Customer satisfaction is our top priority, and we strive to provide a seamless shopping
                experience from start to finish. With secure payment options, fast shipping, and
                responsive customer support, we aim to exceed your expectations every time you shop with
                us.
            </p>
            <p>Thank you for choosing the E-commerce Platform for Shoes as your go-to destination for
                footwear. Step into style with us today!
            </p>
        </div>
      </div>

  </div>
</section>




{% endblock %}
</body>
</html>

