<!DOCTYPE HTML>
{% extends 'basics.html' %}

{% load static %}
{% block title %} Login {% endblock%}

{% block js %} {% endblock%}
{% block body %}

<link rel="stylesheet" href="{% static 'css/style3.css' %}" >

		<div class="breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="bread"><span><a href="index.html">Home</a></span> / <span>Contact</span></p>
					</div>
				</div>
			</div>
		</div>


<section class="login-form page-section-ptb">
<form action="checklogin" method="post">{% csrf_token %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
         <div class="section-title">
<!--           <span>Log in with your id or social media </span>-->
           <h2>Login To Your Account</h2>
           <div class="separator"></div>
         </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-12">
        <div class="gray-form clearfix">
          <div class="mb-3">
           <label class="form-label" for="name">Email Address* </label>
             <input id="name" class="form-controll" type="text" placeholder="Email Address" name="uemail">
          </div>
          <div class="mb-3">
            <label class="form-label" for="Password">Password* </label>
            <input id="Password" class="form-controll" type="password" placeholder="Password" name="upassword">
          </div>
          <div class="mb-3">
            <div class="remember-checkbox mb-4">
              <input type="checkbox" name="one" id="one">
              <label for="one"> Remember me</label>
<!--              <a href="#" class="float-end">Forgot Password?</a>-->
                <a href="" data-toggle="modal" data-target="#forgotPasswordModal">Forgot Password?</a>
            </div>
          </div>
          <div class="d-grid">
              <button type="submit" value="login" class="button red btn-block">
                                        Log in
              </button>
<!--            <a href="checklogin" class="button red btn-block"> Log in </a>-->
          </div>
            <p class="link">New to Our Website? <a href="signup">Create An Account</a></p>
        </div>
     </div>
    </div>
  </div>
</form>
<div class="modal fade" id="forgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="forgotPasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="forgotPasswordModalLabel">Forgot Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/forgotpassword" method="post" class="forgot-password-form">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label>Email</label>
                        <input type="email" name="uemail" class="form-controll" placeholder="Enter your email" required />
                    </div>

                    <button type="submit" class="button red">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
</section>


	{%endblock%}
	</body>
</html>

